@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --strong-pink: #E7467C;
    --rich-black: #050609;
    --bg-white: #DDDDDF;
    --crayola-blue: #2176FF;
    --max-width-px: 1440px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px ;
    background-color: var(--crayola-blue);
    color: var(--bg-white);
    border-radius: .5rem;
}
.hero-img img{
    vertical-align: middle;
    max-width: 100%;
    max-height: 900px;
    border-radius: .5rem;
}
.hero-text{
    padding: 1rem;
}
.link-wrapper{
    padding: .5rem;
    text-align: end;
}
.link-wrapper a{
    color: white;
    border: 1px solid white;
    border-radius: .5rem;
    margin: 2rem 0;
    padding: .7rem;
    text-decoration: none;
    transition: 250ms ease-in-out;
}
.link-wrapper a:hover{
    background-color: white;
    color: #E7467C;
}
.hero-title{
    font-family: 'Josefin Sans';
    font-weight: 300;
    text-transform: uppercase;
}
header nav{
    max-width: var(--max-width-px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    color: black;
    padding: .5rem;
    transition: 250ms ease-in-out;
}
.nav-links a:hover{
    color: var(--strong-pink);
}
.nav-logo{
    height: 60px;
}
.nav-logo img{
    height: 100%;
}