@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --strong-pink: #E7467C;
    --rich-black: #050609;
    --bg-white: #DDDDDF;
    --crayola-blue: #2176FF;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}